@using B2B.Web.Controllers
@using B2B.Shared.Dto.ApplicationFlow
@model B2B.Web.Models.ApplicationViewModel

<webpack-scripts entry="applicationFill"></webpack-scripts>

<div class="container is-flex is-align-items-center is-justify-content-center">
    <p class="title has-text-white has-text-centered is-size-5 mb-5">@Model.Description</p>
</div>
<div class="container">
    <form asp-action="@nameof(ApplicationController.Fill)" asp-controller="Application">
        <section class="is-darker mb-3 px-5 pb-5 pt-3 is-bordered">
            <div class="field">
                <label asp-for="InGameName" class="label is-text-nowrap"></label>
                <input asp-for="InGameName" class="input" asp-placeholder="InGameName"/>
            </div>
            <span asp-validation-for="InGameName" class="has-text-danger"></span>
        </section>
        @for (var i = 0; i < Model.FlowDescription.Questions.Length; i++)
        {
            var question = Model.FlowDescription.Questions[i];
            var isOptionalClass = question.IsOptional ? "is-optional" : "";
            var isInlineChoiceClass = question.IsInlineChoice ? "is-flex-direction-row" : "is-flex-direction-column";
            <section class="is-darker mb-3 px-5 pb-5 pt-3 is-bordered application-question" data-type="@question.Type">
                <input type="hidden" asp-for="FlowDescription.Questions[i].Code" class="question-code"/>
                <input type="hidden" asp-for="FlowDescription.Questions[i].IsOptional"/>
                <label class="label mb-4 @isOptionalClass">@question.Text</label>
                @switch (question.Type)
                {
                    case ApplicationFlowQuestionType.Text:
                    {
                        <div class="field">
                            <textarea name="@question.Code" class="textarea" rows="2" placeholder="Type here..."></textarea>
                        </div>
                        <span asp-validation-for="FlowDescription.Questions[i]" class="has-text-danger"></span>
                        break;
                    }
                    case ApplicationFlowQuestionType.Choice:
                    {
                        <div class="field is-flex is-flex-wrap-wrap @isInlineChoiceClass">
                            @foreach (var choice in question.Choices.OrderBy(x => x.Ordinal))
                            {
                                <input type="radio" name="@question.Code" value="@choice.Value" id="@($"{question.Code}_{choice.Ordinal}")" class="is-checkradio is-info"/>
                                <label for="@($"{question.Code}_{choice.Ordinal}")" class="ml-2">@choice.Value</label>
                            }
                        </div>
                        <span asp-validation-for="FlowDescription.Questions[i]" class="has-text-danger"></span>
                        break;
                    }
                    case ApplicationFlowQuestionType.MultiChoice:
                    {
                        <div class="field is-flex is-flex-wrap-wrap @isInlineChoiceClass">
                            @foreach (var choice in question.Choices.OrderBy(x => x.Ordinal))
                            {
                                <input type="checkbox" name="@question.Code" value="@choice.Value" id="@($"{question.Code}_{choice.Ordinal}")" class="is-checkradio is-info"/>
                                <label for="@($"{question.Code}_{choice.Ordinal}")" class="ml-2">@choice.Value</label>
                            }
                        </div>
                        <span asp-validation-for="FlowDescription.Questions[i]" class="has-text-danger"></span>
                        break;
                    }
                }
            </section>
        }
        <section class="is-flex is-justify-content-center">
            <button type="button" class="button is-black mt-5">Back</button>
            <div class="button-separator"></div>
            <button type="submit" class="button is-success mt-5">Send</button>
        </section>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="FormJson"/>
    </form>
</div>

<div data-site-config hidden>
    <site-config key="questionType-text" value="@ApplicationFlowQuestionType.Text" />
    <site-config key="questionType-choice" value="@ApplicationFlowQuestionType.Choice" />
    <site-config key="questionType-multi-choice" value="@ApplicationFlowQuestionType.MultiChoice" />
</div>
